
@media (max-width: 46.1875em) {
    .grid {
        margin: 80px 16px 20px;
    }
    .col-sm-full {
        width: 100%;
    }
    .header__logo {
        height: 40px;
        width: 40px;
    }
    .content__img-head-item {
        display: none;
    }

    .content__img-head-item-mobile {
        width: 100%;
        display: block;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .content__img-list {
        margin-top: 0;
    }

    .content__img-item-img {
        margin-top: 40px;
    }

    .introduction__header {
        margin-bottom: 56px;
    }

    .experience__header {
        margin-bottom: 56px;
    }

    .experience__dics-degree {
        width: 100%;
    }

    .footer__contact {
        justify-content: flex-start;
    }

    .footer__contact-item {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .footer__contact-item:first-child {
        margin-bottom: 36px;
    }

    .footer__contact-item:first-child {
        display: none;
    }
    
    .footer__contact-item-mobile {
        display: block;
        margin-bottom: 36px;
        font-size: 17px;
        line-height: 22px;
        font-weight: 400;
        text-decoration: none;
        color: #939596;
    }
    
    .footer__contact-item-mobile i {
        color: #EBA352;
        font-size: 20px;
        position: relative;
        top: 6px;
        right: -4px;
    }
}