
@media (max-width: 740px) {
    .grid {
        margin: 80px 16px 20px;
    }
    .col-sm-full {
        width: 100%;
    }

    .content__img-head-item {
        display: none;
    }

    .content__img-head-item-mobile {
        width: 100%;
        display: block;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .content__img-list {
        margin-top: 0;
    }

    .content__img-item-img {
        margin-top: 40px;
    }

    .introduction__header {
        margin-bottom: 56px;
    }

    .experience__header {
        margin-bottom: 56px;
    }

    .experience__dics-degree {
        width: 100%;
    }

    .footer__contact {
        justify-content: flex-start;
    }

    .footer__contact-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__contact-item:first-child {
        margin-bottom: 36px;
    }
}